body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.header-color{
    color: orange;
}
.linkedin{
    background-image: linear-gradient(orange,tomato);
    font-size: 10px 40px;
}